<div id="fondoHeader">
     
    <header id="navArriba">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#referencias">Referencias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#educacion">Educación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#proyectos">Proyectos</a>
              </li>
            </ul>            
          </div>
        </div>
      </nav>
    </header>
  </div>
  
  <div id="imgPerfil">    
    <img id="img" src="assets/img/imgPerfil.png" alt="foto_portfolio">
    
  </div>

<div style="border: solid 1px black; border-radius: 10px; margin-top: -100px;">
  <span style="margin-left:210px; font-size: 3rem; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{infoPorfolio.name}}</span>
  <h1 style="margin-top: 30px; margin-left: 10px;text-shadow: 2px 2px 4px #9b9292;">Programador WEB</h1>
 
    <span style="margin-left:15px; font-size: 1.5rem;">Mendoza - Argentina</span>
    <!-- <span style="margin-left:15px; font-size: 1.5rem;">{{infoPorfolio.name}}</span><br>
    <span style="margin-left:15px; font-size: 1.5rem;">{{infoPorfolio.name}}</span> -->
 
</div>