#fondoHeader{
    background-color: aquamarine;
    margin-top: 55px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#navArriba{    
    margin-top: -50px;
    padding-bottom: 150px;
            
}