<h1 class="titulo-bloques">Mis Proyectos</h1>

<div class="row">
    <div class="col-md-12">
        <div  class="bloque-mis-proyectos">
            <label for="proyectos"><em>Hi-Pet</em></label>
            <p>Proyecto de aplicación web realizada en html, css, js, php y mysql. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias laudantium dicta a quo nostrum velit itaque cupiditate, assumenda voluptate fuga dolor vitae corporis dolorum adipisci distinctio odio hic nisi perspiciatis!</p>
            <label for="proyectos"><em>Turnos Corralón</em></label>
            <p>Proyecto de aplicación web realizada en html, css, js, php y mysql. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias laudantium dicta a quo nostrum velit itaque cupiditate, assumenda voluptate fuga dolor vitae corporis dolorum adipisci distinctio odio hic nisi perspiciatis!</p>
          
        </div>
    <div>
<div>
