.bloque-mis-proyectos{
    padding: 10px;
    color: black;
    /* background-color: rgb(91, 248, 240); */
    border-radius: 5px;
    margin: 5px 0px 10px 0px;
}

.bloque-mis-proyectos label{
    font-size: 1.5rem;
    color: blue;
    font-weight: bold;        
}

.bloque-mis-proyectos p{
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    text-align: justify;    
}

.btn_delete{   
    margin-right: 30px;
}

li {list-style:none !important}