 <div id="education">
    <!-- Modal -->
    <div class="modal fade" id="educationForm" tabindex="-1" aria-labelledby="educationFormLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="educationFormLabel">Educacion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="educationForm" (ngSubmit)="onSubmit()">
              <input type="hidden" name="id" formControlName="id">
  
              <div class="row mb-3">
                <label for="school" class="col-sm-2 col-form-label">School</label>
                <div class="col-sm-10">
                  <input type="text" name="school" formControlName="school" class="form-control" required>
                </div>
              </div>
  
              <div class="row mb-3">
                <label for="title" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                  <input type="text" name="title" formControlName="title" class="form-control" required>
                </div>
              </div>

              <div class="row mb-3">
                <label for="career" class="col-sm-2 col-form-label">Career</label>
                <div class="col-sm-10">
                  <input type="text" name="career" formControlName="career" class="form-control" required>
                </div>
              </div>
  
              <div class="row mb-3">
                <label for="score" class="col-sm-2 col-form-label">Score</label>
                <div class="col-sm-10">
                  <input type="number" name="score" formControlName="score" class="form-control" required>
                </div>
              </div>
  
              <div class="row mb-3">
                <label for="start" class="col-sm-2 col-form-label">Inicio</label>
                <div class="col-sm-10">
                  <input type="number" name="start" formControlName="start" class="form-control" required>
                </div>
              </div>

              <div class="row mb-3">
                <label for="end" class="col-sm-2 col-form-label">Fin</label>
                <div class="col-sm-10">
                  <input type="number" name="end" formControlName="end" class="form-control" required>
                </div>
              </div>

              <div class="row mb-3">
                <label for="description" class="col-sm-2 col-form-label">Detalle</label>
                <div class="col-sm-10">
                  <input type="text" name="description" formControlName="description" class="form-control" required>
                </div>
              </div>
  
              <div class="text-center">
                <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
 </div>
 

<div class="btn-plus" *ngIf="isUserLogged">
  <a class="plus" data-bs-toggle="modal" data-bs-target="#educationForm" (click)="onNewEducation()"><i class="fa fa-plus" aria-hidden="true"></i></a>
</div>
<h1 class="titulo-bloques">Educación</h1>       
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline8">                    
                <div class="timeline" *ngFor="let educacion of educacionList; let i = index">                     
                    <span class="timeline-icon"></span>
                      <span class="year">{{ educacion.school }}</span>
                        <div class="btn-edit" *ngIf="isUserLogged">
                            <a class="edit" data-bs-toggle="modal" data-bs-target="#educationForm" (click)="onEditEducation(i)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            <a class="edit btn_delete" (click)="onDeleteEducation(i)"><i class="fa fa-trash"></i></a>                              
                        </div>

                      <div class="timeline-content">
                          <h2 class="title">{{ educacion.title }}</h2>
                          <h3 class="title">{{ educacion.career }}</h3>                            
                            <p>{{ educacion.start }} - {{ educacion.end }}</p>
                            <p>Score: <strong>{{ educacion.score }}</strong></p>
                            <p class="description">
                              {{ educacion.description }}
                            </p>
                      </div>
                </div>                      
            </div>
         </div>
     </div>


            
