<div style="padding: 0px; border-radius: 5px; background-color: rgb(228, 205, 248); margin: 5px 0px 10px 0px;">
    
   <a href="" style="font-size: 1.5rem; text-decoration: none;">
      <img style="width: 100px;" src="assets/img/ap_logo.png" alt="">
   </a> <span>#YoProgramo</span> 
    
   <!--a href="#" target="_blank"><i id="linkRedes" class="fa-brands fa-linkedin"></i></a-->
   <a href="https://www.facebook.com/omar.bastiasescobar/" target="_blank"><i id="linkRedes" class="fa-brands fa-facebook"></i></a>
   <a href="https://www.instagram.com/omar.bastias/" target="_blank"><i id="linkRedes" class="fa-brands fa-instagram"></i></a>
   <a href="https://www.github.com/Elpolacomar" target="_blank"><i id="linkRedes" class="fa-brands fa-github"></i></a>
   <a href="https://twitter.com/Licomarbastiass" target="_blank"><i id="linkRedes" class="fa-brands fa-twitter" ></i></a>
   
</div>

